.main-title {
  text-align: center;
  color: red;
  background-color: wheat;
  font-size: 2.5em;
  border-radius: 2cm;
}
.tagline {
  color: violet;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.featured-books {
  color: black;
  background-color: yellow;
  border-style: dashed;
  padding: 20px;
}
.Section-title {
  font-style: italic;
  color: red;
  padding-top: 2px;
}
.book-title {
  font-style: italic;
  color: rgb(85, 15, 198);
}
.contact {
  background-color: blueviolet;
  width: 700px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 1.5cm;
  border-style: dashed;
}
