body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(120deg, #84fab0 0%, green);
  color: #333;
}
#Signup {
  margin-top: 20px auto;
  width: 400px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  padding: 40px;
  text-align: center;
}
h1 {
  font-size: 32px;
  text-align: center;
}
p {
  margin-bottom: 30px;
  color: red;
}
.group {
  margin: 20px 0;
}
label {
  display: black;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
}
input:hover {
  background-color: wheat;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
input:focus {
  background-color: rgb(148, 145, 148);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0 5px 0px;
}
button {
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5cm;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: rgb(148, 145, 148);
  transition: 0.1s ease-in-out;
}
